<div class="row">
    <div class="col-lg-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <canvas id="graficoIngresosPrivados"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <canvas id="graficoCantidadMesPrivados"></canvas>
            </div>
        </div>
    </div>
</div>
