<div class="row">
    <div class="col-lg-6 col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">¿Qué día de la semana trabaje más en el sistema privado? (Último Período)</h5>
                <div>
                    <canvas id="graficoBoletasPrivado"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">¿Cuántas boletas hice por semana? (Último Período)</h5>
                <div>
                    <canvas id="graficoBoletasSemanalesPrivado"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
